[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/henry"]
	path = themes/henry
	url = https://github.com/kaushikgopal/henry-hugo.git
